<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <h2 *ngIf="!isEdit">Create user</h2>
        <h2 *ngIf="isEdit">Update user</h2>
        <a class="btn btn-primary my-2" routerLink="../">Terug naar overzicht</a>
    </div>
    <hr>
    <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">
        <input *ngIf="isEdit" type="hidden" id="id" name="id" [(ngModel)]="user!.id">
        <div class="form-group my-3">
            <label for="name">Naam</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Vul hier je naam in"
                #userName="ngModel" [(ngModel)]="user!.name" required>
            <p *ngIf="userName.invalid" class="text-danger">Not a valid name</p>
        </div>
        <div class="form-group my-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Vul hier je email in"
                [(ngModel)]="user!.email" required>
        </div>
        <div class="form-group my-3">
            <label for="city">Stad</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Vul hier je stad in"
                [(ngModel)]="user!.city" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>