<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <h2>About</h2>
    </div>
    <hr>
    <p>In deze applicatie kunnen mensen concerten zien en vervolgens hier tickets voor reserveren. Als een gebruiker een
        concert bekijkt kan hij/zij vervolgens zien welke artiesten hier gaan optreden. Verder kan de gebruiker ook
        details zien van een artiest. Een gebruiker kan zien welke kaartjes hij of zij heeft gekocht. Een admin kan
        concerten aanmaken en hier artiesten en een locatie aan toevoegen.</p>
</div>