/* You can add global styles to this file, and also import other style files */
.ticket-btn {
    width: 150px;
    transition: .5s;
}

.ticket-btn:hover {
    background-color: white;
    color: black !important;
}